@import '../../../designForAllSite/design.scss';

.loading1 {
    position: relative;
    margin: auto;
    
    width: 50px;
    height: 50px;
    // margin-left: 350px;


    --colorA: #b78eff;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        border-top: 10px solid #fff;

        filter:
            drop-shadow(0 0 2px var(--colorA)) drop-shadow(0 0 5px var(--colorA)) drop-shadow(0 0 10px var(--colorA)) drop-shadow(0 0 20px var(--colorA));
        animation: rotate 3s infinite linear;
    }

    &::after {
        --colorA: #ffec41;
        animation-delay: -1.5s;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


.UserDetails {

    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
   
    
   

}

.UserDetails .Details {
    margin-left: 20px;
    margin-top: 14px;
    box-shadow: 2px 2px 9px 8px #888;
}

.UserDetails img,
.UserDetails .userAvatar {
    @include cardUserInfo;
    height: 35vh;
}



.UserDetails .Details .info {
    margin: 3vh 1vw;
    font-size: 17px;
}

.UserDetails .Details h4 {
    font-weight: bold;
    font-size: 21px;
   
}
.UserDetails .Details .email,
.UserDetails .Details p {
    color: #888;


}

.UserDetails .Details a {
    @include btn;
    padding: 10px 10vw;
    color: #fff;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;


}

.UserDetails .Details a:hover {
    @include btnHover;

}

.UserDetails .Details .text {
    background-color: rgb(168, 168, 168);
    color: #fff;
    padding: 3px 5px;



}
@media screen and (max-width: 990px){
    .UserDetails{
        flex-direction: column;
        
    }
    .UserDetails .Details{
       margin-left: -1vw
    }
}